# exclude python bytecode
__pycache__/
# exclude data
scans/
# exclude directory containing temp plots 
.tmp/
# exclude gas logfiles
gas_control/log/
# exclude hv stability scans
scan_control/scanscripts/*.log
scan_control/scanscripts/hv_stability_scans/
